#homepageTop {
    @apply bg-gradient-to-b from-slate-800 to-slate-600;
    width: 100%;
    height:100vh;
    .content {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 40;
        h1 {

            span {
                color: transparent;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: #fff;
            }
        }
    }
    .circles{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 30;
    }

    .circles li{
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate 25s linear infinite;
        bottom: -150px;

    }

    .circles li:nth-child(1){
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }


    .circles li:nth-child(2){
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
    }

    .circles li:nth-child(3){
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
    }

    .circles li:nth-child(4){
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }

    .circles li:nth-child(5){
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
    }

    .circles li:nth-child(6){
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }

    .circles li:nth-child(7){
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }

    .circles li:nth-child(8){
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
    }

    .circles li:nth-child(9){
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
    }

    .circles li:nth-child(10){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }



    @keyframes animate {

        0%{
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }

        100%{
            transform: translateY(-1000px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
        }

    }
}

#homeAboutBanner {
    .collapse {
        h3::after {
            @apply bg-purple-700 h-[3px] block my-4 mx-0 w-[25%];
            content: '';
        }
    }
}

.whatIDoBanner {

    .item {
        @apply bg-purple-600 rounded-lg shadow-none py-8 px-8 min-h-[150px] relative ease-in-out duration-500;
        a {
            @apply absolute h-full w-full;

            h4 {
                @apply text-white text-xl font-roboMedium mb-4;
            }

            .pageBtn {
                @apply absolute bottom-4 right-16 text-white text-xl ease-in-out duration-700;
            }

            &:hover {
                .pageBtn {
                    @apply right-12;
                    transform: rotate(360deg);
                }
            }
        }


        &:hover {
            @apply scale-110 shadow-lg shadow-black/40;
        }
    }
}

.recentWorkBanner {
    a.slateBtnLg {
        @apply relative  text-left;
        i {
            @apply text-base ml-2 absolute top-[15px] right-8 ease-in-out duration-700;
        }
        &:hover {
            i {
                @apply ml-10 right-2;
                transform: rotate(360deg);
            }
        }
    }
}
